@use "../../src/styles/tokens.scss";

.wbbb-checkbox {
  display: flex;
  flex-wrap: wrap;
  gap: var(--wbbb-spacing-md);
}

.wbbb-checkbox__item {
  align-items: center;
  color: var(--wbbb-color-text);
  display: inline-flex;
  font-size: var(--wbbb-font-size-md);
}

.wbbb-checkbox__control {
  margin-right: var(--wbbb-spacing-xs);
}

