@font-face { font-family: "Halo Icons"; font-style: normal; font-weight: normal; src: url("../../src/icons/halo-icons.woff") format("woff"), url("../../src/icons/halo-icons.ttf") format("truetype"); }

.halo-icon { align-items: center; color: currentcolor; display: inline-flex; flex: none; font-style: normal; font-weight: normal; height: 1em; justify-content: center; line-height: 1; min-height: 1em; min-width: 1em; overflow: hidden; text-align: center; width: 1em; }
.halo-icon--asset { display: inline-block; object-fit: contain; }
