@use "../../src/styles/tokens.scss";

.wbbb-text {
  color: var(--wbbb-color-text);
  font-family: var(--wbbb-font-family);
  font-size: var(--wbbb-font-size-md);
  line-height: var(--wbbb-line-height);
}

.wbbb-text--secondary {
  color: var(--wbbb-color-text-secondary);
}

.wbbb-text--primary {
  color: var(--wbbb-color-primary);
}

.wbbb-text--success {
  color: var(--wbbb-color-success);
}

.wbbb-text--warning {
  color: var(--wbbb-color-warning);
}

.wbbb-text--danger {
  color: var(--wbbb-color-danger);
}

.wbbb-text--ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

